<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint1 - About page</title>
</head>
<header>
    <h1>Legit Company - About page</h1>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="social.html">Social</a></li>
            <li><a href="subscribe.html">Subscribe</a></li>
        </ul>
    </nav>
<body>
    <h1> About us </h1>
    <p>
       This is all we have to say about us.
    </p>

    
</body>
</html>