<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legit Company - Contact Page</title>
</head>
<header>
    <h1>Legit Company - Contact page</h1>
</header>
<nav>
    <ul>
        <li><a href="/social">Social</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/subscribe">Subscribe</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</nav>
<body>
    <h1>Contact page</h1>
    <p>
        This is our contact page. Here you will find our business address, phone number,
        and email address. We promise it's real.
        <ul>
            <li>Address: 123 Real Street, RealTown, US, Earth</li>
            <li>Phone: 1(123) 456-7891 </li>
            <li>Email: NvrGonnaGiveYouUp@rickrolled.com</li>
        </ul>
    </p>
    
</body>
</html>