<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legit Company - Home Page</title>
</head>
<header>
    <h1>Legit Company - Home page</h1>
</header>    
<nav>
    <ul>
        <li><a href="/social">Social</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/subscribe">Subscribe</a></li>
        
    </ul>
<body>
    <h1>Home page</h1>
    <p>
        This is the home page. Despite it being called the home page,
        it is not where we live, check out our <a href = "/contact">contact</a> page
        to find out were we are located.
    </p>
    
</body>
</html>