<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legit Company - Products page</title>
</head>
<header>
    <h1>Legit Company - Products page</h1>
</header>
    <nav>
        <ul>
            <li><a href="/social">Social</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
<body>
    <p>
        This is our products page. Here you find everything that we have.
        bet your looking for a list? well here it is:
        <ul>
            <li>Nothing</li>
            <li>Nodda</li>
            <li>A</li>
            <li>Thing</li>
            <li>Here</li>
    </p>
    
</body>
</html>