<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legit Company - Social Media Page</title>
</head>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="subscribe.html">Subscribe</a></li>
        </ul>
    </nav>
<body>
    <h1>Social page</h1>
    <p>
        This is the social page. Here you can find all the links to differnt social media sites.
        If you were expecting to find social media about us, we are sorry to misguide you.
    </p>
    
</body>
</html>