<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legit Company - Social Media Page</title>
</head>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
<body>
    <h1>Social page</h1>
    <p>
        This is the social page. Here you can find the links too differnt social media sites.
        If you were expecting to find social media about us, we are sorry to misguide you.
        <ul>
            <a href="https://www.facebook.com">Facebook</a>
            <a href="https://https://x.com/">X / Twitter (for the boomers)</a>
            <a href="https://www.instagram.com">Instagram</a>
        </ul>
    </p>
    
</body>
</html>