<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legit Company - Subscription page</title>
</head>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="social.html">Social</a></li>
        </ul>
    </nav>
<body>
    <h1>Subscribe page</h1>
    <p>
        This is the subscribe page. Here you can subscribe to our newsletter.
        Its so exclusive that we never release it.

        Click <a href="https://www.bing.com/videos/riverview/relatedvideo?q=youtube+rick+roll&mid=CFAC16CA30B5EF2ADD68CFAC16CA30B5EF2ADD68&FORM=VIRE">here</a> to subscribe.
    </p>
    
</body>
</html>